/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query since this is the default in Bootstrap */
 header {
	background: url(../images/download.jpe) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 175px;
	color: red;
}


@-webkit-keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.hvr-push {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-push:hover, .hvr-push:focus, .hvr-push:active {
  -webkit-animation-name: hvr-push;
  animation-name: hvr-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

a:hover {
	opacity: 0.8;
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
h1 {font-size: 20px }

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
h1 {font-size: 30px }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
h1 {font-size: 40px }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
h1 {font-size: 60px }
}